@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center h-100">
    <div class="col-4 border p-3 rounded">
        <form>
            <div class="form-group">
                <label for="userNameInput">Username:</label>
                <input type="text" class="form-control" id="userNameInput" aria-describedby="usernameHelp" placeholder="Enter your Username" />
                <small id="usernameHelp" class="form-text text-muted">Please enter your registered user name.</small>
            </div>
            <div class="form-group">
                <label for="userPassword">Password:</label>
                <input type="password" class="form-control" id="userPasswordInput" placeholder="Password" />
            </div>
            <div id="loginMessageResult" style="word-break: break-all;" class="d-none alert alert-success"></div>
            <button id="loginButton" type="button" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
